/*
    facebook grey (background): #edf0f5
    green: #60973b
    blue: 3c579d
*/
body{
    margin: 0;
    background-color: #edf0f5;
    color: black;
}
ul {
    list-style-type: none;
    margin: 0;
    padding: 0;
    overflow: hidden;
    background-color: #3c579d;
  }
  
  li {
    float: left;
  }
  
  li a {
    display: block;
    color: white;
    text-align: center;
    padding: 14px 16px;
    text-decoration: none;
  }
  
  /* Change the link color to #111 (black) on hover */
  li a:hover {
    background-color: #111;
  }
nav {
    background-color: #3c579d;
}

#registrationAndLogin {
    float: right;
}